<ng-template #Changepassword>
    <div class="text-center ">
    <div class="p-3 password-bgcolor text-center">
        Change Password
    </div>
    <div class="p-4" [formGroup]="passform">
        <div class="">
        <div class="text-left">
            <label for="" class="font-weight-bold">Current Password</label>
            <input type="password" class="form-control mb-2" formControlName="password">
        </div>
        <div class="text-left">
            <label for="" class="font-weight-bold">New Password</label>
            <input type="password" class="form-control mb-2" formControlName="newPassword">
        </div>
        <div class="text-left">
            <label for="" class="font-weight-bold">Confirm Password</label>
            <input type="password" class="form-control mb-2" formControlName="confirmNewPass">
        </div>
        </div>
        <div class=" ">
        <button class="btn btn-secondary rounded-sm w-100" (click)="savePassword()">DONE</button>
        </div>
    </div>
    </div>
</ng-template>