<ng-template #editPopup>
    <div class="site-panel-register p-3 ">
        <div class="site-register-wrapper">
            <form [formGroup]="editForm">
                <div class="form-group-wrapper form-group-main-div">
                    <div class="form-group-main">
                        <div class="addmission-main-wrapper">
                            <div class="form-title">
                                <h2
                                    class="pl-border-radius-0 bg-sky-blue">Admission
                                    Data</h2>
                            </div>
                            <div
                                class="form-group-main-wrapper addmission-wrap py-3">
                                <div class="container-fluid">
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <div
                                                class="form-group-control m-0 px-0 position-relative col-12">
                                                <input type="text"
                                                    class="form-control"
                                                    placeholder="MRN"
                                                    formControlName="patientId"
                                                    readonly>
                                                <label
                                                    class="position-absolute m-0 bg-white">MRN</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div
                                                class="form-group-control m-0 px-0 position-relative col-12">
                                                <input type="text" name id
                                                    class="f-size-field form-control"
                                                    placeholder="Patient Name"
                                                    readonly
                                                    formControlName="patientname" />
                                                <label
                                                    class="position-absolute m-0 bg-white">Patient
                                                    Name</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <div class="form-group-control">
                                                <ng-select
                                                    placeholder="Case Type"
                                                    formControlName="caseType"
                                                    class="border-0 font-numbar lab-select"
                                                    [readonly]="true">
                                                    <ng-option
                                                        *ngFor="let item of caseTypelist"
                                                        [value]="item.id">{{item.caseName}}</ng-option>
                                                </ng-select>
                                                <label
                                                    class="position-absolute m-0 bg-white">Case
                                                    Type</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <ng-select
                                                placeholder="Addmission Type"
                                                formControlName="admissionTypeid"
                                                class="border-0 font-numbar lab-select"
                                                [readonly]="true">
                                                <ng-option
                                                    *ngFor="let item of admissionTypeslist"
                                                    [value]="item.id">{{item.admissionTypeName}}</ng-option>
                                            </ng-select>
                                            <label
                                                class="position-absolute m-0 bg-white">Admission
                                                Type
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <div
                                                class="form-group-control m-0 px-0 position-relative col-12">
                                                <input type="text"
                                                    class="form-control"
                                                    placeholder="Admission Reason"
                                                    formControlName="admReason"
                                                    readonly>
                                                <label
                                                    class="position-absolute m-0 bg-white">Admission
                                                    Reason</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div
                                                class="form-group mb-0 d-flex p-0 col-12 align-items-center">
                                                <div class="form-group-control m-0 px-0 position-relative col-11">
                                                    <input type="text"
                                                        class="form-control"
                                                        placeholder="Comment"
                                                        formControlName="comment"
                                                        readonly>
                                                    <label class="position-absolute m-0 bg-white">Comment</label>
                                                </div>
                                                <div
                                                    class="comment-main px-0 pl-1">
                                                    <ul
                                                        class="comment-ul pl-0 mb-0">
                                                        <li class="comment-li">
                                                            <a href="#">
                                                                <img
                                                                    src="../../../assets/images/mdi--file-edit-outline.svg">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <div
                                                class="form-group-control m-0 px-0 position-relative col-12">
                                                <input type="text"
                                                    class="form-control"
                                                    [bsConfig]="{showWeekNumbers: false, dateInputFormat:'DD-MM-YYYY'}"
                                                    bsDatepicker
                                                    placeholder="Admitted On"
                                                    formControlName="admDate"
                                                    readonly>
                                                <label class="position-absolute m-0 bg-white">Admitted On</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div
                                                class="form-group-control m-0 px-0 col-12 position-relative">
                                                <input type="text"
                                                    class="form-control"
                                                    [bsConfig]="{showWeekNumbers: false,withTimepicker:false, dateInputFormat:'HH:mm:ss'}"
                                                    bsDatepicker
                                                    placeholder="Admitted At"
                                                    formControlName="admTime"
                                                    readonly />
                                                <label class="position-absolute m-0 bg-white">Admitted At</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <div
                                                class="form-group-control m-0 px-0 position-relative col-12">
                                                <ng-select
                                                    placeholder="AdmissionStatus"
                                                    class="border-0 font-numbar lab-select"
                                                    formControlName="status"
                                                    (change)="onChangeStatus($event)"
                                                    [disabled]="isActualDisable"
                                                    [readonly]="isActualDisable">
                                                    <ng-option
                                                        *ngFor="let item of admissionStatus"
                                                        [value]="item.id">{{item.status}}</ng-option>
                                                </ng-select>
                                                <label class="position-absolute m-0 bg-white">Admission Status </label>
                                                <ng-container *ngIf="isStatusPlanned">
                                                    <span class="error-message">You can't change your Status</span>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="d-flex mb-0 col-12 px-0 align-items-center">
                                                <div class="form-group-control m-0 px-0 position-relative col-10 pr-2">
                                                    <input type="number" name id
                                                        class="f-size-field form-control"
                                                        placeholder="Estimeted length Of Staty"
                                                        formControlName="estLeght"
                                                        readonly />
                                                    <label class="position-absolute m-0 bg-white">Estimated Length of Staty</label>
                                                </div>
                                                <div
                                                    class="emargency-div m-0 px-0 w-100 ">
                                                    <p class=" mb-0 px-0">Day(s)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="organization-main-wrapper mb-4">
                            <div class="form-title">
                                <h2 class="pl-border-radius-0 bg-sky-blue">Organizational Assignment</h2>
                            </div>
                            <div class="form-group-main-wrapper py-3 addmission-wrap">
                                <div class="container-fluid">
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <div class="form-group-control m-0 px-0  position-relative col-12">
                                                <ng-select
                                                    placeholder="Specialty"
                                                    formControlName="speciality_Code"
                                                    class="border-0 font-numbar lab-select"
                                                    (change)="getAttendingPhysician($event)">
                                                    <ng-option
                                                        *ngFor="let item of getSpecialitylist"
                                                        [value]="item.speciality_Code">{{item.speciality_desc}}
                                                    </ng-option>
                                                </ng-select>
                                                <label
                                                    class="position-absolute m-0 bg-white">Specialty</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div
                                                class="form-group-control m-0 px-0 position-relative col-12">
                                                <ng-select placeholder="Floor"
                                                    class="border-0 font-numbar lab-select"
                                                    formControlName="floorId"
                                                    (change)="getSelectgetRooms($event);">
                                                    <ng-option
                                                        *ngFor="let item of getFloorslist"
                                                        [value]="item.id">{{item.floornumber+"-"+item.floorName}}</ng-option>
                                                </ng-select>
                                                <label
                                                    class="position-absolute m-0 bg-white">Floor
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <div
                                                class="form-group-control m-0 px-0 position-relative col-12">
                                                <ng-select placeholder="Room"
                                                    class="border-0 font-numbar lab-select"
                                                    formControlName="roomId"
                                                    (change)="getSelectgetBads($event)">
                                                    <ng-option
                                                        *ngFor="let item of getRoomslist"
                                                        [value]="item.id">{{item.roomNumber+"-"+item.roomName}}</ng-option>
                                                </ng-select>
                                                <label class="position-absolute m-0 bg-white">Room</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div
                                                class="form-group-control m-0 px-0 position-relative col-12">
                                                <ng-select placeholder="Bed"
                                                    class="border-0 font-numbar lab-select"
                                                    formControlName="badId">
                                                    <ng-option
                                                        *ngFor="let item of getBadlist"
                                                        [value]="item.id">{{item.badNumber+"-"+item.badName}}</ng-option>
                                                </ng-select>
                                                <label
                                                    class="position-absolute m-0 bg-white">Bed</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group-main">
                        <div class="form-title">
                            <h2 class="pl-border-radius-0 bg-sky-blue">Attending physicians</h2>
                        </div>
                        <div
                            class="form-group-main-wrapper py-3 addmission-wrap">
                            <div class="container-fluid">
                                <div class="row mb-3">
                                    <div class="col-6 ">
                                        <div class="form-group-control m-0 px-0 position-relative col-12">
                                            <ng-select
                                                placeholder="Attending Doctor"
                                                class="border-0 font-numbar lab-select"
                                                formControlName="attendingPhysician">
                                                <ng-option
                                                    *ngFor="let item of getPhysicianlist"
                                                    [value]="item.doctor_Code">{{item.doctor_Name}}
                                                </ng-option>
                                            </ng-select>
                                            <label
                                                class="position-absolute m-0 bg-white">Attending
                                                Physician</label>
                                        </div>
                                    </div>
                                    <div class=" col-6">
                                        <div
                                            class="form-group-control m-0 px-0 pr-2 position-relative col-12">
                                            <ng-select
                                                placeholder="Admitted Physician"
                                                class="border-0 font-numbar lab-select"
                                                formControlName="admittedPhysician">
                                                <ng-option
                                                    *ngFor="let item of getPhysicianlist"
                                                    [value]="item.doctor_Code">{{item.doctor_Name}}
                                                </ng-option>
                                            </ng-select>
                                            <label
                                                class="position-absolute m-0 bg-white">Admitting
                                                Physician</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-3">
                        <ul class="visite-note-ul-btn list-unstyled">
                            <li>
                                <a>
                                    <div class="button-group"
                                        (click)="onSave()">
                                        <button type="submit"
                                            class="text-dark-blue d-flex align-items-center bg-white visit-note bg-hover-transparent pl-border-radius-10 cursor-pointer p-2 px-3 text-nowrap">Save</button>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="button-group">
                                        <button
                                            class="text-dark-blue d-flex align-items-center bg-white visit-note bg-hover-transparent pl-border-radius-10 cursor-pointer p-2 px-3 text-nowrap cancel-btn"
                                            (click)="cancel()">Cancel</button>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </form>
        </div>
    </div>
</ng-template>
