<div class="patient-panel p-3 bg-white pl-border-radius-10" *ngIf="!isCounter">
  <div class="patient-panel-wrapper pl-border-radius-10">
    <div class="table-responsive">
      <div class="layout-table layout-patient-table overflow-auto">
        <table class="w-100">
          <thead class="sticky-top">
            <tr>
              <th>MRN</th>
              <th>Patient Name</th>
              <th>Gender</th>
              <th>Date of birth</th>
              <th>Admitted On</th>
              <th>Admitted At</th>
              <th>Visit ID</th>
              <th>Floor</th>
              <th>Room/Bed</th>
              <th>Room Status</th>
              <th>Attending physician</th>
              <th>Specialty</th>
              <th>Admission Status</th>
              <th class="text-center" *ngIf="UserTypeId !== 12 && UserTypeId !== 18 && UserTypeId !== 19 && UserTypeId !== 14">Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
                <td colspan="9" class="text-center available-patient py-4">
                  Patient does not exist,
                  <a href>Do you want to register a new patient?</a></td>
              </tr> -->
            <!-- <tr > -->
            <tr *ngFor="let data of visibleData ; let i = index">
              <td (click)="patientDetails(data)">
                <div class="d-flex align-items-center table-inner-div border-0">
                  {{data.patientAdmission.patient.medicalRecordNumber}}</div>
              </td>
              <td class="align-middle cursor-pointer" (click)="patientDetails(data)">
                <div class="d-flex align-items-center table-inner-div border-0">
                  {{data.patientAdmission.patient.firstName}}
                  {{data.patientAdmission.patient.secondName}}
                  {{data.patientAdmission.patient.thirdName}}
                  {{data.patientAdmission.patient.familyName}}
                </div>
              </td>
              <td (click)="patientDetails(data)">
                <div class="d-flex align-items-center table-inner-div">{{data.patientAdmission.patient.gender}}
                </div>
              </td>
              <td (click)="patientDetails(data)">
                <div class="d-flex align-items-center table-inner-div">{{data.patientAdmission.patient.dateOfBirth
                  | date: "dd-MM-yyyy"}}
                </div>
              </td>
              <td (click)="patientDetails(data)">
                <div class="d-flex align-items-center table-inner-div">{{data.patientAdmission.admDate
                  | date: "dd-MM-yyyy"}}</div>
              </td>
              <td (click)="patientDetails(data)">
                <div class="d-flex align-items-center table-inner-div">{{data.patientAdmission.admTime
                  | date: "hh:mm a"}}</div>
              </td>
              <td (click)="patientDetails(data)">
                <div class="d-flex align-items-center table-inner-div">{{data.visitId}}</div>
              </td>
              <td (click)="patientDetails(data)">
                <div class="d-flex align-items-center table-inner-div">{{data.floors?.floornumber}}</div>
              </td>
              <td (click)="patientDetails(data)">
                <div class="d-flex align-items-center table-inner-div">
                  {{data.rooms?.roomNumber}}/{{data.bads?.badNumber}}
                </div>
              </td>
              <td (click)="patientDetails(data)">
                <div class="d-flex align-items-center table-inner-div justify-content-center">
                  {{data?.rooms?.roomsStatus.status}}
                </div>
              </td>
              <td (click)="patientDetails(data)">
                <div class="d-flex align-items-center table-inner-div">
                  {{data.patientAdmission.attendDoctor.doctor_Name}}</div>
              </td>
              <td (click)="patientDetails(data)">
                <div class="d-flex align-items-center table-inner-div">{{data.specialities.speciality_desc}}</div>
              </td>
              <td (click)="patientDetails(data)">
                <div class="d-flex align-items-center table-inner-div  justify-content-center">
                  {{data.patientAdmission.admissionStatus.status}}
                </div>
                <!-- <ng-select *ngIf="isEdit">
                    <ng-option>{{data.patientAdmission.admissionStatus.status}}</ng-option>
                  </ng-select> -->
              </td>
              <td *ngIf="UserTypeId !== 12 && UserTypeId !== 18 && UserTypeId !== 19 && UserTypeId !== 14">
                <ul
                  class="d-flex align-items-center justify-content-center list-unstyled Patients-ul table-inner-div mb-0">
                  <li>
                    <img src="assets/images/print.svg" class="mx-2 cursor-pointer" width="20"
                      (click)="printPatient(data)">
                    <div class="tooltip">Print</div>
                  </li>
                  <li>
                    <img src="assets/images/edit.svg" class="mx-2 cursor-pointer" (click)="onEdit(data)">
                    <a>
                      <div class="tooltip">Edit</div>
                    </a>
                  </li>
                  <li>
                    <img src="assets/images/cancel-icon.svg" class="mx-2 cursor-pointer" (click)="onDeleteRecord(data)">
                    <div class="tooltip">Cancel</div>
                  </li>
                  <li>
                    <img src="assets/images/transfer.webp" class="mx-2 cursor-pointer transfer-blue"
                      (click)="onTransferPopup(data)">
                    <div class="tooltip">Transfer</div>
                  </li>
                  <li>
                    <img src="assets/images/admission-discharge.svg" class="mx-2 cursor-pointer" style="width: 18px;"
                      (click)="onDischargePopup(data)">
                    <div class="tooltip">Discharge</div>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<reason-popup #reasonPopup></reason-popup>
<app-admittedpatient-editpopup (sendOnload)="onload(this.selectedDate)"
  #AdmittedpatientEditpopup></app-admittedpatient-editpopup>
<ng-template #admitPatientEventlist>
  <div class="site-panel-register p-3 ">
    <div class="site-register-wrapper">
      <form [formGroup]="admitpatient">
        <div class="form-group-wrapper form-group-main-div">
          <div class="form-group-main">
            <div class="addmission-main-wrapper">
              <div class="form-title">
                <h2 class="pl-border-radius-0 bg-sky-blue">Admission Data</h2>
              </div>
              <div class=" addmission-wrap py-3">
                <div class="container-fluid">
                  <div class="row mb-3">
                    <div class="col-6">
                      <div class="form-group-control m-0 px-0 position-relative col-12">
                        <input type="text" class="form-control" placeholder="MRN" formControlName="patientId" #mrn
                          (ngModelChange)="getPatient(mrn.value)">
                        <label class="position-absolute m-0 bg-white">MRN</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group-control m-0 px-0 position-relative col-12">
                        <input type="text" name id class="f-size-field form-control" placeholder="Patient Name"
                          formControlName="patientName" readonly />
                        <label class="position-absolute m-0 bg-white">Patient
                          Name</label>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-6">
                      <div class="form-group-control">
                        <ng-select placeholder="Case Type" formControlName="caseType"
                          class="border-0 font-numbar lab-select" (change)="setErPatientValue($event)">
                          <ng-option *ngFor="let item of caseTypelist" [value]="item.id">{{item.caseName}}</ng-option>
                        </ng-select>
                        <label class="position-absolute m-0 bg-white">Case
                          Type</label>
                        <ng-container
                          *ngIf="admitpatient.get('caseType').invalid && admitpatient.get('caseType').touched">
                          <span class="error-message" *ngIf="admitpatient.get('caseType').errors.required">
                            Case Type is required
                          </span>
                        </ng-container>
                        <ng-container *ngIf="admitpatient.get('caseType').hasError('invalidCaseType')
                          ">
                          <span class="error-message">
                            Please choose a valid
                            type
                          </span>
                        </ng-container>
                        <!-- <ng-container
                          *ngIf="admitpatient.controls['caseType'].value === 2 || admitpatient.controls['caseType'].value === 3 ">
                          <span class="error-message">
                            Please choose a valid type
                          </span>
                        </ng-container> -->
                      </div>
                    </div>
                    <div class="col-6">
                      <ng-select placeholder="Addmission Type" formControlName="admissionType"
                        class="border-0 font-numbar lab-select"
                        [readonly]="admitpatient.controls['caseType'].value == 3"
                        [ngClass]="admitpatient.get('admissionType').invalid && admitpatient.get('admissionType').touched ? 'error' : ''">
                        <ng-option *ngFor="let item of admissionTypeslist"
                          [value]="item.id">{{item.admissionTypeName}}</ng-option>
                      </ng-select>
                      <label class="position-absolute m-0 bg-white">Admission
                        Type
                      </label>
                      <ng-container
                        *ngIf="admitpatient.get('admissionType').invalid && admitpatient.get('admissionType').touched">
                        <span class="error-message" *ngIf="admitpatient.get('admissionType').errors.required">
                          Admission Type is required
                        </span>
                      </ng-container>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-6">
                      <div class="form-group-control m-0 px-0 position-relative col-12">
                        <input type="text" class="form-control" placeholder="Admission Reason"
                          formControlName="admReason">
                        <label class="position-absolute m-0 bg-white">Admission
                          Reason</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group mb-0 d-flex p-0 col-12 align-items-center">
                        <div class="form-group-control m-0 px-0 position-relative col-11">
                          <input type="text" class="form-control" placeholder="Comment" formControlName="comment">
                          <label class="position-absolute m-0 bg-white">Comment</label>
                        </div>
                        <div class="comment-main px-0 pl-1">
                          <ul class="comment-ul pl-0 mb-0">
                            <li class="comment-li">
                              <a href="#">
                                <img src="../../../assets/images/mdi--file-edit-outline.svg">
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-6">
                      <div class="form-group-control m-0 px-0 position-relative col-12">
                        <input type="text" class="form-control"
                          [bsConfig]="{showWeekNumbers: false, dateInputFormat:'DD-MM-YYYY'}" bsDatepicker
                          [ngClass]="admitpatient.get('admDate').invalid && admitpatient.get('admDate').touched ? 'error' : ''"
                          placeholder="Admitted On" formControlName="admDate">
                        <label class="position-absolute m-0 bg-white">Admitted
                          On</label>
                      </div>
                      <ng-container *ngIf="admitpatient.get('admDate').invalid && admitpatient.get('admDate').touched">
                        <span class="error-message" *ngIf="admitpatient.get('admDate').errors.required">
                          Appointment Date is required
                        </span>
                      </ng-container>
                      <ng-container *ngIf="admitpatient.get('admDate').hasError('pastDate')">
                        <span class="error-message"> Cannot select a past
                          date</span>
                      </ng-container>
                    </div>
                    <div class="col-6">
                      <div class="form-group-control m-0 px-0 col-12 position-relative">
                        <input type="text" class="form-control"
                          [bsConfig]="{showWeekNumbers: false,withTimepicker:true, dateInputFormat:'HH:mm:ss'}"
                          bsDatepicker placeholder="Admitted At" formControlName="admTime" />
                        <label class="position-absolute m-0 bg-white">Admitted
                          At</label>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-6">
                      <div class="form-group-control m-0 px-0 position-relative col-12">
                        <ng-select placeholder="AdmissionStatus" class="border-0 font-numbar lab-select"
                          formControlName="status" [readonly]="admitpatient.controls['caseType'].value == 3"
                          [ngClass]="admitpatient.get('status').invalid && admitpatient.get('status').touched ? 'error' : ''">
                          <ng-option *ngFor="let item of admissionStatus" [value]="item.id">{{item.status}}</ng-option>
                        </ng-select>
                        <label class="position-absolute m-0 bg-white">Admission
                          Status </label>
                        <ng-container *ngIf="admitpatient.get('status').invalid && admitpatient.get('status').touched">
                          <span class="error-message" *ngIf="admitpatient.get('status').errors.required">
                            Admission Status is required
                          </span>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="d-flex mb-0 col-12 px-0 align-items-center">
                        <div class="form-group-control m-0 px-0 position-relative col-10 pr-2">
                          <input type="number" name id class="f-size-field form-control"
                            placeholder="Estimeted length Of Staty" formControlName="estLeght" />
                          <label class="position-absolute m-0 bg-white">Estimated
                            Length of Staty</label>

                        </div>
                        <div class="emargency-div m-0 px-0 w-100 ">
                          <p class=" mb-0 px-0">Day(s)</p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="organization-main-wrapper mb-4">
              <div class="form-title">
                <h2 class="pl-border-radius-0 bg-sky-blue">Organizational
                  Assignment</h2>
              </div>

              <div class=" py-3 addmission-wrap">
                <div class="container-fluid">

                  <div class="row mb-3">
                    <div class="col-6">
                      <div class="form-group-control m-0 px-0  position-relative col-12">
                        <ng-select placeholder="Specialty" formControlName="speciality_Code"
                          class="border-0 font-numbar lab-select" (change)="getAttendingPhysician($event)"
                          [readonly]="admitpatient.controls['caseType'].value == 3"
                          [ngClass]="admitpatient.get('speciality_Code').invalid && admitpatient.get('speciality_Code').touched ? 'error' : ''">
                          <ng-option *ngFor="let item of getSpecialitylist"
                            [value]="item.speciality_Code">{{item.speciality_desc}}
                          </ng-option>
                        </ng-select>
                        <label class="position-absolute m-0 bg-white">Specialty</label>
                        <ng-container
                          *ngIf="admitpatient.get('speciality_Code').invalid && admitpatient.get('speciality_Code').touched">
                          <span class="error-message" *ngIf="admitpatient.get('speciality_Code').errors.required">
                            Specialty is required
                          </span>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group-control m-0 px-0 position-relative col-12">
                        <ng-select placeholder="Floor" class="border-0 font-numbar lab-select" formControlName="floorId"
                          (change)="getSelectgetRooms($event);"
                          [readonly]="admitpatient.controls['caseType'].value == 3"
                          [ngClass]="admitpatient.get('floorId').invalid && admitpatient.get('floorId').touched ? 'error' : ''">
                          <ng-option *ngFor="let item of getFloorslist"
                            [value]="item.id">{{item.floornumber+"-"+item.floorName}}</ng-option>
                        </ng-select>
                        <label class="position-absolute m-0 bg-white">Floor
                        </label>
                        <ng-container
                          *ngIf="admitpatient.get('floorId').invalid && admitpatient.get('floorId').touched">
                          <span class="error-message" *ngIf="admitpatient.get('floorId').errors.required">
                            floor is required
                          </span>
                        </ng-container>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-6">
                      <div class="form-group-control m-0 px-0 position-relative col-12">
                        <ng-select placeholder="Room" class="border-0 font-numbar lab-select" formControlName="roomId"
                          (change)="getSelectgetBads($event)"
                          [ngClass]="admitpatient.get('roomId').invalid && admitpatient.get('roomId').touched ? 'error' : ''">
                          <ng-option *ngFor="let item of getRoomslist"
                            [value]="item.id">{{item.roomNumber+"-"+item.roomName}}</ng-option>
                        </ng-select>
                        <label class="position-absolute m-0 bg-white">Room
                        </label>
                        <ng-container *ngIf="admitpatient.get('roomId').invalid && admitpatient.get('roomId').touched">
                          <span class="error-message" *ngIf="admitpatient.get('roomId').errors.required">
                            Room is required
                          </span>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group-control m-0 px-0 position-relative col-12">
                        <ng-select placeholder="Bed" class="border-0 font-numbar lab-select" formControlName="badId"
                          [ngClass]="admitpatient.get('badId').invalid && admitpatient.get('badId').touched ? 'error' : ''">
                          <ng-option *ngFor="let item of getBadlist"
                            [value]="item.id">{{item.badNumber+"-"+item.badName}}</ng-option>
                        </ng-select>
                        <label class="position-absolute m-0 bg-white">Bed</label>
                        <ng-container *ngIf="admitpatient.get('badId').invalid && admitpatient.get('badId').touched">
                          <span class="error-message" *ngIf="admitpatient.get('badId').errors.required">
                            Bed is required
                          </span>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="form-group-main">
            <div class="form-title">
              <h2 class="pl-border-radius-0 bg-sky-blue">Attending
                physicians</h2>
            </div>
            <div class=" py-3 addmission-wrap">
              <div class="container-fluid">
                <div class="row mb-3">
                  <div class="col-6 ">
                    <div class="form-group-control m-0 px-0 position-relative col-12">

                      <ng-select placeholder="Attending Doctor" class="border-0 font-numbar lab-select"
                        formControlName="attendingPhysician"
                        [ngClass]="admitpatient.get('attendingPhysician').invalid && admitpatient.get('attendingPhysician').touched ? 'error' : ''">
                        <ng-option *ngFor="let item of getPhysicianlist" [value]="item.doctor_Code">{{item.doctor_Name}}
                        </ng-option>
                      </ng-select>
                      <label class="position-absolute m-0 bg-white">Attending
                        Physician</label>
                      <ng-container
                        *ngIf="admitpatient.get('attendingPhysician').invalid && admitpatient.get('attendingPhysician').touched">
                        <span class="error-message" *ngIf="admitpatient.get('attendingPhysician').errors.required">
                          Attending Physician is required
                        </span>
                      </ng-container>
                    </div>
                  </div>
                  <div class=" col-6">
                    <div class="form-group-control m-0 px-0 pr-2 position-relative col-12">
                      <ng-select placeholder="Admitted Physician" class="border-0 font-numbar lab-select"
                        formControlName="admittedPhysician">
                        <ng-option *ngFor="let item of getPhysicianlist" [value]="item.doctor_Code">{{item.doctor_Name}}
                        </ng-option>
                      </ng-select>
                      <label class="position-absolute m-0 bg-white">Admitting
                        Physician</label>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <div class="action-buttons d-flex align-items-center justify-content-center my-3">
            <div class="button-group mx-2">
              <button type="submit"
                class="d-flex align-items-center pl-border-radius-10 text-white p-2 px-3 text-nowrap default-btn"
                (click)="onSave()">Save</button>
            </div>
            <div class="button-group mx-2">
              <button class="d-flex align-items-center pl-border-radius-10 text-white p-2 px-3 text-nowrap cancel-btn"
                (click)="onCancel()">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</ng-template>
<transferpatient-popup #transferpatientPopup (sendOnload)="onload(this.selectedDate)"></transferpatient-popup>
<ng-template #printPatientDetails>
  <div class="print-patient-popup">
    <div
      class="d-flex align-items-center justify-content-between p-3 bg-lighter-gray border-top-0 border-left-0 border-right-0">
      <div class="d-flex align-items-center">
        <h5 class="main-title m-0 ">Select what to print</h5>
      </div>
      <div class="d-flex align-items-center justify-content-end rounded-circle mr-0 cursor-pointer">
        <img src="assets/images/popup-close.svg" (click)="closePopup()">
      </div>
    </div>
    <div class="print-patient-popup-wrap p-3" style="border-bottom: 1px solid #ccc;">
      <div class="d-flex align-items-center" style="gap: 10px;">
        <input type="radio" class="form-control" placeholder="Allow DoubleBooking" value="wristband"
          [(ngModel)]="printType" style="width: 15px; height: 15px;">
        <label class="m-0 text-dark">Wristband Label</label>
      </div>
      <div class="d-flex align-items-center my-3" style="gap: 10px;">
        <input type="radio" class="form-control" placeholder="Allow DoubleBooking" value="patient"
          [(ngModel)]="printType" style="width: 15px; height: 15px;">
        <label class="m-0 text-dark">Patient Label</label>
      </div>
      <div class="d-flex align-items-center" style="gap: 10px;">
        <input type="radio" class="form-control" placeholder="Allow DoubleBooking" value="admissionPatient"
          [(ngModel)]="printType" style="width: 15px; height: 15px;">
        <label class="m-0 text-dark">Admission Printout Form</label>
      </div>
    </div>
  </div>
  <div class="w-100 d-flex justify-content-between align-items-center px-3 py-3" style=" background-color: white;">
    <button
      class="pl-border-radius-10 border-0 text-white d-flex justify-content-center bg-dark-blue align-items-center w-100 p-2"
      (click)="printErPatientData()">Print</button>
  </div>
</ng-template>
<ng-container *ngIf="PrintPatient">
  <div class="request-popup-details h-100" style="border-radius: 20px; z-index: -11; position: relative;opacity: 0;">
    <div class="col-wrapper h-100" style="border-radius: 20px;">
      <!-- <div
        class="d-flex align-items-center justify-content-between p-3 bg-lighter-gray border-top-0 border-left-0 border-right-0">
        <div class="d-flex align-items-center">
          <h3 class="main-title m-0 ml-4 pl-3">Patient Sticker</h3>
        </div>
        <div
          class="patient-zoom-icon rounded-circle d-flex align-items-center justify-content-center mr-2 cursor-pointer">
          <img src="assets/images/popup-close.svg" (click)="closePopup()">
        </div>
      </div> -->
      <div id="printPatient" style="padding: 20px 30px; border-bottom: 1px solid #ccc;">
        <div class="d-flex align-items-center">
          
          <div class="main-print-wrap">
            <div class="d-flex align-items-center my-2">
              <h4 class="mb-0 mr-2" style="color: #000000; font-size: 25px; font-weight: 600;line-height: 1.25;">Patient
                Name:</h4>
              <p class="mb-0" style="color: #000000; font-size: 25px"> {{patientPrintDetails.patientAdmission.patient.firstName}}
                {{patientPrintDetails.patientAdmission.patient.secondName}}
                {{patientPrintDetails.patientAdmission.patient.thirdName}}
                {{patientPrintDetails.patientAdmission.patient.familyName}}</p>
            </div>
            <div class="d-flex align-items-center my-2">
              <div class="d-flex align-items-center mr-3">
                <h4 class="mb-0 mr-2" style="color: #000000; font-size: 25px; font-weight: 600;line-height: 1.25;">MRN:
                </h4>
                <p class="mb-0" style="color: #000000; font-size: 25px">{{patientPrintDetails.patientAdmission.patient.medicalRecordNumber}}</p>
              </div>
              <div class="d-flex align-items-center">
                <h4 class="mb-0 mr-2" style="color: #000000; font-size: 25px; font-weight: 600;line-height: 1.25;">Case
                  No:</h4>
                <p class="mb-0" style="color: #000000; font-size: 25px">{{patientPrintDetails.visitId}}</p>
              </div>
            </div>

            <div class="d-flex align-items-center my-2">
              <div class="d-flex align-items-center mr-3">
                <h4 class="mb-0 mr-2" style="color: #000000; font-size: 25px; font-weight: 600;line-height: 1.25;">DOB:
                </h4>
                <p class="mb-0" style="color: #000000; font-size: 25px"> {{patientPrintDetails.patientAdmission.patient.dateOfBirth
                  | date: "dd/MM/yyyy"}}
                </p>
              </div>
              <div class="d-flex align-items-center my-2">
                <h4 class="mb-0 mr-2" style="color: #000000; font-size: 25px; font-weight: 600;line-height: 1.25;">Age:
                </h4>
                <p class="mb-0" style="color: #000000; font-size: 25px"> {{onAgeTransformation(patientPrintDetails.patientAdmission.patient.dateOfBirth)}}
                </p>
              </div>
            </div>

            <div class="d-flex align-items-center my-2">
              <h4 class="mb-0 mr-2" style="color: #000000; font-size: 25px; font-weight: 600;line-height: 1.25;">
                Attending Physician:</h4>
              <p class="mb-0" style="color: #000000; font-size: 25px">{{patientPrintDetails.patientAdmission.attendDoctor.doctor_Name}}</p>
            </div>
            <div class="d-flex align-items-center my-2">
              <div class="d-flex align-items-center mr-3">
                <h4 class="mb-0 mr-2" style="color: #000000; font-size: 25px; font-weight: 600;line-height: 1.25;">DOA:
                </h4>
                <p class="mb-0" style="color: #000000; font-size: 25px"> {{patientPrintDetails.patientAdmission.admDate
                  | date: "dd-MM-yyyy"}}</p>
              </div>
              <div class="d-flex align-items-center my-2">
                <h4 class="mb-0 mr-2" style="color: #000000; font-size: 25px; font-weight: 600;line-height: 1.25;">Time:
                </h4>
                <p class="mb-0" style="color: #000000; font-size: 25px">{{patientPrintDetails.patientAdmission.admTime | date: "hh:mm a"}}</p>
              </div>
            </div>
            <div class="d-flex align-items-center my-2">
              <h4 class="mb-0 mr-2" style="color: #000000; font-size: 25px; font-weight: 600;line-height: 1.25;">
                Location:</h4>
              <p class="mb-0" style="color: #000000; font-size: 25px">{{patientPrintDetails.floors?.floorName}} / {{patientPrintDetails.rooms?.roomName}}</p>
            </div>
          </div>
          <ngx-barcode [bc-value]="barcodeMRN" [bc-display-value]="false"
            style="position: relative;left: 15px;"></ngx-barcode>
        </div>
      </div>
      <div id="wristband" class="d-flex align-items-center justify-content-center h-100" style="padding: 20px 30px;height: 450px;width: 450px;">
        <div class="main-print-wrap d-flex align-items-center" style="transform: rotate(-90deg);">
          <div class="mx-3">
            <div class="d-flex align-items-center mb-2 mr-3">
              <h4 class="mb-0 mr-2" style="color: #000000; font-size: 50px; font-weight: 600;line-height: 1.25;">Patient
                Name:</h4>
              <p class="mb-0" style="font-size: 50px;">{{patientPrintDetails.patientAdmission.patient.firstName}}
                {{patientPrintDetails.patientAdmission.patient.secondName}}
                {{patientPrintDetails.patientAdmission.patient.thirdName}}
                {{patientPrintDetails.patientAdmission.patient.familyName}}</p>
            </div>
            <div class="d-flex align-items-center">
              <div class="d-flex align-items-center mb-2 mr-3">
                <h4 class="mb-0 mr-2" style="color: #000000; font-size: 50px; font-weight: 600;line-height: 1.25;">MRN:
                </h4>
                <p class="mb-0" style="font-size: 50px;">
                  {{patientPrintDetails.patientAdmission.patient.medicalRecordNumber}}</p>
              </div>
              <div class="d-flex align-items-center mb-2">
                <h4 class="mb-0 mr-2" style="color: #000000; font-size: 50px; font-weight: 600;line-height: 1.25;">Case
                  No:</h4>
                <p class="mb-0" style="font-size: 50px;">{{patientPrintDetails.visitId}}</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="d-flex align-items-center mb-2 mr-3">
                <h4 class="mb-0 mr-2" style="color: #000000; font-size: 50px; font-weight: 600;line-height: 1.25;">DOB:
                </h4>
                <p class="mb-0" style="font-size: 50px;"> {{patientPrintDetails.patientAdmission.patient.dateOfBirth
                  | date: "dd/MM/yyyy"}}
                </p>
              </div>
              <div class="d-flex align-items-center my-2">
                <h4 class="mb-0 mr-2" style="color: #000000; font-size: 50px; font-weight: 600;line-height: 1.25;">DTOA:
                </h4>
                <p class="mb-0 text-nowrap" style="font-size: 50px;"> {{patientPrintDetails.patientAdmission.admDate
                  | date: "dd-MM-yyyy"}} ({{patientPrintDetails.patientAdmission.admTime | date: "hh:mm a"}})</p>
              </div>
            </div>
            <!-- <div class="d-flex align-items-center mb-2">
                  <h4 class="mb-0 mr-2" style="color: #000000; font-size: 50px; font-weight: 600;line-height: 1.25;">Name:</h4>
                  <p class="mb-0" style="font-size: 50px;"> {{patientPrintDetails.patientAdmission.patient.firstName}}
                      {{patientPrintDetails.patientAdmission.patient.secondName}}
                      {{patientPrintDetails.patientAdmission.patient.thirdName}}
                      {{patientPrintDetails.patientAdmission.patient.familyName}}</p>
                </div> -->
          </div>
          <div>
            <ngx-barcode [bc-value]="barcodeMRN" [bc-display-value]="false"></ngx-barcode>
          </div>
        </div>
      </div>
      <div id="printoutPatient" style="padding: 20px 30px; border-bottom: 1px solid #ccc;">
        <div class="text-center">
          <img src="assets/images/Safeer_Hospital_Logo.jpeg" class="h-42 w-100 logo" style="max-width: 200px;">
        </div>
        <div class="text-center">
          <h3>
            Admission Printout Form
          </h3>
        </div>
        <div class="pt-3">
          <div>
            <table style=" width:100%; border-collapse: collapse; border: 1px solid #ccc;">
              <thead>
                <tr>
                  <th colspan="4"
                    style="background-color: #f3f6f9; padding: 10px; font-size: 20px; font-weight: 700; color: #000; border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;">
                    ADMIT PATIENT DATA</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2" style="width: 50%;">
                    <div class="px-2 py-1">
                      <label style="display: block; font-size: 18px; color: #000; font-weight: 600;">MRN:</label>
                      <p
                        style="margin-bottom: 0; border: 1px solid #ccc; padding: 6px; border-radius: 10px; color: #000; font-size: 18px; font-weight: 400;height:38px">
                        {{patientPrintDetails.patientAdmission.patient.medicalRecordNumber}}
                      </p>
                    </div>
                  </td>
                  <td colspan="2" style="width: 50%;">
                    <div class="px-2 py-1">
                      <label style="display: block; font-size: 18px; color: #000; font-weight: 600;">Patient
                        Name:</label>
                      <p
                        style="margin-bottom: 0; border: 1px solid #ccc; padding: 6px; border-radius: 10px; color: #000; font-size: 18px; font-weight: 400;height:38px">
                        {{patientPrintDetails.patientAdmission.patient.firstName}}
                        {{patientPrintDetails.patientAdmission.patient.secondName}}
                        {{patientPrintDetails.patientAdmission.patient.thirdName}}
                        {{patientPrintDetails.patientAdmission.patient.familyName}}
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="px-2 py-1">
                      <label style="display: block; font-size: 18px; color: #000; font-weight: 600;">Case Type:</label>
                      <p
                        style="margin-bottom: 0; border: 1px solid #ccc; padding: 6px; border-radius: 10px; color: #000; font-size: 18px; font-weight: 400;height:38px">
                        {{patientPrintDetails.patientAdmission.caseTypesTbl.caseName}}
                      </p>
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="px-2 py-1">
                      <label style="display: block; font-size: 18px; color: #000; font-weight: 600;">Admission
                        Type:</label>
                      <p
                        style="margin-bottom: 0; border: 1px solid #ccc; padding: 6px; border-radius: 10px; color: #000; font-size: 18px; font-weight: 400;height:38px">
                        {{patientPrintDetails.patientAdmission.admissionTypesTbl.admissionTypeName}}
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="px-2 py-1">
                      <label style="display: block; font-size: 18px; color: #000; font-weight: 600;">Admission
                        Reason:</label>
                      <p
                        style="margin-bottom: 0; border: 1px solid #ccc; padding: 6px; border-radius: 10px; color: #000; font-size: 18px; font-weight: 400;height:38px">
                        {{patientPrintDetails.patientAdmission.admReason}}
                      </p>
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="px-2 py-1">
                      <label style="display: block; font-size: 18px; color: #000; font-weight: 600;">Comment:</label>
                      <p
                        style="margin-bottom: 0; border: 1px solid #ccc; padding: 6px; border-radius: 10px; color: #000; font-size: 18px; font-weight: 400;height:38px">
                        {{patientPrintDetails.patientAdmission.comment}}
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="px-2 py-1">
                      <label style="display: block; font-size: 18px; color: #000; font-weight: 600;">Admitted
                        On:</label>
                      <p
                        style="margin-bottom: 0; border: 1px solid #ccc; padding: 6px; border-radius: 10px; color: #000; font-size: 18px; font-weight: 400;height:38px">
                        {{patientPrintDetails.patientAdmission.admDate | date: "dd-MM-yyyy"}}
                      </p>
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="px-2 py-1">
                      <label style="display: block; font-size: 18px; color: #000; font-weight: 600;">Admitted
                        At:</label>
                      <p
                        style="margin-bottom: 0; border: 1px solid #ccc; padding: 6px; border-radius: 10px; color: #000; font-size: 18px; font-weight: 400;height:38px">
                        {{patientPrintDetails.patientAdmission.admDate | date: "HH:mm:ss"}}
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="px-2 py-1">
                      <label style="display: block; font-size: 18px; color: #000; font-weight: 600;">Admission
                        Status:</label>
                      <p
                        style="margin-bottom: 0; border: 1px solid #ccc; padding: 6px; border-radius: 10px; color: #000; font-size: 18px; font-weight: 400;height:38px">
                        {{patientPrintDetails.patientAdmission.admissionStatus.status}}
                      </p>
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="px-2 py-1">
                      <label style="display: block; font-size: 18px; color: #000; font-weight: 600;">Estimeted length Of
                        Stay (Days):</label>
                      <p
                        style="margin-bottom: 0; border: 1px solid #ccc; padding: 6px; border-radius: 10px; color: #000; font-size: 18px; font-weight: 400;height:38px">
                        {{patientPrintDetails.patientAdmission.estLeght}}
                      </p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table style=" width:100%; border-collapse: collapse; border: 1px solid #ccc;">
              <thead>
                <tr>
                  <th colspan="4"
                    style="background-color: #f3f6f9; padding: 10px; font-size: 20px; font-weight: 700; color: #000; border: 1px solid #ccc;border-left: 0;">
                    Organizational Assignment</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2" style="width: 50%;">
                    <div class="px-2 py-1">
                      <label style="display: block; font-size: 18px; color: #000; font-weight: 600;">Specialty:</label>
                      <p
                        style="margin-bottom: 0; border: 1px solid #ccc; padding: 6px; border-radius: 10px; color: #000; font-size: 18px; font-weight: 400;height:38px">
                        {{patientPrintDetails.specialities.speciality_desc}}
                      </p>
                    </div>
                  </td>
                  <td colspan="2" style="width: 50%;">
                    <div class="px-2 py-1">
                      <label style="display: block; font-size: 18px; color: #000; font-weight: 600;">Floor:</label>
                      <p
                        style="margin-bottom: 0; border: 1px solid #ccc; padding: 6px; border-radius: 10px; color: #000; font-size: 18px; font-weight: 400;height:38px">
                        {{patientPrintDetails.floors.floornumber}}-{{patientPrintDetails.floors.floorName}}
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="px-2 py-1">
                      <label style="display: block; font-size: 18px; color: #000; font-weight: 600;">Room:</label>
                      <p
                        style="margin-bottom: 0; border: 1px solid #ccc; padding: 6px; border-radius: 10px; color: #000; font-size: 18px; font-weight: 400;height:38px">
                        {{patientPrintDetails.rooms.roomNumber}}-{{patientPrintDetails.rooms.roomName}}
                      </p>
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="px-2 py-1">
                      <label style="display: block; font-size: 18px; color: #000; font-weight: 600;">Bed:</label>
                      <p
                        style="margin-bottom: 0; border: 1px solid #ccc; padding: 6px; border-radius: 10px; color: #000; font-size: 18px; font-weight: 400;height:38px">
                        {{patientPrintDetails.bads.badNumber}}-{{patientPrintDetails.bads.badName}}
                      </p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table style=" width:100%; border-collapse: collapse; border: 1px solid #ccc;">
              <thead>
                <tr>
                  <th colspan="4"
                    style="background-color: #f3f6f9; padding: 10px; font-size: 20px; font-weight: 700; color: #000; border: 1px solid #ccc;border-left: 0;">
                    Attending physicians</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2" style="width: 50%;">
                    <div class="px-2 py-1">
                      <label style="display: block; font-size: 18px; color: #000; font-weight: 600;">Attending
                        Physician:</label>
                      <p
                        style="margin-bottom: 0; border: 1px solid #ccc; padding: 6px; border-radius: 10px; color: #000; font-size: 18px; font-weight: 400;height:38px">
                        {{patientPrintDetails.patientAdmission.attendDoctor.doctor_Name}}
                      </p>
                    </div>
                  </td>
                  <td colspan="2" style="width: 50%;">
                    <div class="px-2 py-1">
                      <label style="display: block; font-size: 18px; color: #000; font-weight: 600;">Admitting
                        Physician:</label>
                      <p
                        style="margin-bottom: 0; border: 1px solid #ccc; padding: 6px; border-radius: 10px; color: #000; font-size: 18px; font-weight: 400;height:38px">
                        {{patientPrintDetails.patientAdmission.admittedDoctor?.doctor_Name}}
                      </p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<app-admittedpatient-editpopup #dischargePatient></app-admittedpatient-editpopup>
<app-discharge-popup #dischargepopup (sendOnload)="onload(this.selectedDate)"></app-discharge-popup>


<ng-template #filterPopup>
  <div class="bg-white p-3 pl-border-radius-10 book-appointment ">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="m-0 px-2">Filter Admitted Patients</h3>
    </div>
    <div class="form-group-wrapper">
      <div class="form-group-main d-flex pt-3 border-0">
        <div class="form-group m-0 p-0 w-100">
          <div class="d-flex justify-content-between">
            <div class="form-group-control w-100 m-0 mb-3 px-2 position-relative">
              <input type="text" class="form-control" placeholder="Date From"
                [bsConfig]="{showWeekNumbers: false, dateInputFormat:'DD-MM-YYYY'}" bsDatepicker
                [(ngModel)]="startDate">
              <label class="position-absolute m-0 bg-white" style="z-index: 9999;">Date From</label>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="form-group-control w-100 m-0 mb-3 px-2 position-relative">
              <input type="text" class="form-control" placeholder="Date To"
                [bsConfig]="{showWeekNumbers: false, dateInputFormat:'DD-MM-YYYY'}" bsDatepicker [(ngModel)]="endDate">
              <label class="position-absolute m-0 bg-white" style="z-index: 9999;">Date To</label>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="form-group-control w-100 m-0 mb-3 px-2 position-relative">
              <ng-select placeholder="Ward" [(ngModel)]="floorId">
                <ng-option *ngFor="let item of floorsList" [value]="item.id">{{item.floorName}}
                </ng-option>
              </ng-select>
              <label class="position-absolute m-0 bg-white" style="z-index: 9999;">Ward</label>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="form-group-control w-100 m-0 mb-3 px-2 position-relative">
              <ng-select placeholder="Attending Physician" [(ngModel)]="attendingPhysician">
                <ng-option *ngFor="let item of doctorsList" [value]="item.doctor_Code">{{item.doctor_Name}}
                </ng-option>
              </ng-select>
              <label class="position-absolute m-0 bg-white" style="z-index: 9999;">Attending Physician</label>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="form-group-control w-100 m-0 mb-3 px-2 position-relative">
              <ng-select placeholder="Specialty" [(ngModel)]="speciality">
                <ng-option *ngFor="let item of specialtyList" [value]="item.speciality_Code">{{item.speciality_desc}}
                </ng-option>
              </ng-select>
              <label class="position-absolute m-0 bg-white" style="z-index: 9999;">Speciality</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class=" w-20 m-1">
        <button
          class="pl-border-radius-10 border-0 text-white d-flex justify-content-center bg-dark-blue align-items-center w-100 p-2"
          (click)="filterData()">
          Filter</button>
      </div>
      <div class=" w-20 m-1">
        <button
          class="pl-border-radius-10 border-0 text-white d-flex justify-content-center bg-danger align-items-center w-100 p-2"
          (click)="onCancel()">
          Cancel</button>
      </div>
    </div>
  </div>
</ng-template>