<div class="section-container3" >
  <div class="patient-panel p-3" >
    <div class="patient-panel-wrapper pl-border-radius-10 overflow-hidden">
      <div class="table-responsive">
        <div class="layout-table layout-patient-table">
          <table class="w-100" >
            <thead class="sticky-top">
              <tr>
                <th>Code</th>
                <th>Consulation Name</th>
                <th>Default Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody >
              <ng-container >
                <tr *ngIf="!ConsultantData || !ConsultantData.length">
                  <td colspan="9" class="text-center">No Consulation Registered !</td>
                </tr>
                <tr *ngFor="let data of ConsultantData" class="text-center">
                  <td>
                    <div class="d-flex align-items-center table-inner-div border-0">{{data.code}}</div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center table-inner-div border-0">{{data.name}}</div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center table-inner-div border-0">{{data.defaultPrice}}</div>
                  </td>
                  <td >
                    <div class="col-6 p-2 bg-exlight-blue d-flex align-items-center table-inner-div">
                      <img src="assets/images/trash.svg" class="mx-2 cursor-pointer" (click)="onConsulationDelete(data)">
                      <img src="assets/images/edit.svg" class="mx-2 cursor-pointer" (click)="onConsulationEdit(data)">
                    </div>
                  </td>
                </tr>
              </ng-container>              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>