.Patients-ul li {
    position: relative;
    transform: translateZ(0);
    }
  
    .Patients-ul li .tooltip {
      font-size: 12px;
    background: #000;
    top: 25px;
    color: #fff;
    display: block;
    left: 50%;
    opacity: 0;
    padding: 5px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    -webkit-transition: all .25s ease-out;
      -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
      -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
        border-radius: 3px;
    }
  
    /* This bridges the gap so you can mouse into the tooltip without it disappearing */
    .Patients-ul li .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    }
  
    /* CSS Triangles - see Trevor's post */
    .Patients-ul li .tooltip:after {
    border-left: solid transparent 4px;
    border-right: solid transparent 4px;
    border-bottom: solid #000 4px;
    top: -4px;
    content: " ";
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 0;
    }
  
    .Patients-ul li:hover .tooltip {
      width: max-content;
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
  
    /* IE can just show/hide with no transition */
   .Patients-ul li .tooltip {
    display: none;
    }
  
   .Patients-ul li:hover .tooltip {
    display: block;
    }
  .transfer-blue{
    width: 18px;
    height: 18px;
  }
  .patient-panel {
    .patient-panel-wrapper {
      .table-responsive {
        overflow: hidden;
      }
    }
  }

  ::ng-deep .modal .filterPopup{
    max-width: 400px !important;
  }