<div class="site-panel-register p-3">
  <div class="site-register-wrapper">
    <form [formGroup]="dyForm">
      <div class="form-group-wrapper">
        <div class="form-title">
          <h2 class="pl-border-radius-10 bg-sky-blue">Face & Neck</h2>
        </div>
        <div class="form-group-main px-2">
          <div class="form-group-main-wrapper py-3">
            <div class="form-group d-flex p-0 mb-2">
              <div class="form-group-control m-0 px-2 col-6 position-relative">
                <input type="text" class="form-control" placeholder="Summary" formControlName="Summary"
                  [ngClass]="dyForm.get('Summary').invalid && dyForm.get('Summary').touched ? 'error' : ''">
                <label class="position-absolute m-0 bg-white">Summary:</label>
                <ng-container *ngIf="dyForm.get('Summary').invalid && dyForm.get('Summary').touched">
                  <span class="error-message" *ngIf="dyForm.get('Summary').errors.required">
                    Summary is required
                  </span>
                </ng-container>
              </div>
              <div class="form-group-control m-0 col-6 d-flex p-0 position-relative">
                <div class="form-group-control m-0 px-2 col-6">
                  <input type="number" class="form-control" placeholder="Age" formControlName="Age"
                    [ngClass]="dyForm.get('Age').invalid && dyForm.get('Age').touched ? 'error' : ''">
                  <label class="position-absolute m-0 bg-white">Age:</label>
                  <ng-container *ngIf="dyForm.get('Age').invalid && dyForm.get('Age').touched">
                    <span class="error-message" *ngIf="dyForm.get('Age').errors.required">
                      Age is required
                    </span>
                  </ng-container>
                </div>
                <div class="form-group-control col-6 mb-0 px-2 col position-relative">
                  <ng-select placeholder="Select Gender" [searchable]="true" formControlName="Gender"
                    [ngClass]="dyForm.get('Gender').invalid && dyForm.get('Gender').touched ? 'error' : ''">
                    <ng-option *ngFor="let item of Gender" [value]="item.key">{{item.value}}</ng-option>
                  </ng-select>
                  <label class="position-absolute m-0 bg-white">Select gender</label>
                  <ng-container *ngIf="dyForm.get('Gender').invalid && dyForm.get('Gender').touched">
                    <span class="error-message" *ngIf="dyForm.get('Gender').errors.required">
                      Gender is required
                    </span>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="form-group m-0 d-flex p-0">
              <div class="form-group-control mb-2 px-2 col-6 position-relative">
                <input type="text" class="form-control" placeholder="Write a main complaint"
                  formControlName="MainComplaint">
                <label class="position-absolute m-0 bg-white">Main Complaint:</label>
              </div>
              <div class="form-group-control mb-2 px-2 col-6 position-relative">
                <input type="text" class="form-control" placeholder="Write a prior surgeries"
                  formControlName="PriorSurgeries">
                <label class="position-absolute m-0 bg-white">Prior Surgeries:</label>
              </div>
            </div>
            <div class="form-group m-0 d-flex p-0">
              <div class="form-group-control mb-2 px-2 col-6 position-relative">
                <input type="text" class="form-control" placeholder="Write a Prior complications"
                  formControlName="PriorComplications">
                <label class="position-absolute m-0 bg-white">Prior complications:</label>
              </div>
              <div class="form-group-control mb-2 px-2 col-6 position-relative">
                <ng-select placeholder="Select Prior treatments" [searchable]="true" formControlName="PriorTreatments">
                  <ng-option *ngFor="let item of PriorTreatment" [value]="item.key">{{item.value}}</ng-option>
                </ng-select>
                <label class="position-absolute m-0 bg-white">Prior treatments:</label>
              </div>
            </div>
            <div class="form-group m-0 d-flex p-0">
              <div class="form-group-control mb-2 px-2 col-6 position-relative">
                <ng-select placeholder="Select Filter Location" [searchable]="true" formControlName="FilterLocation">
                  <ng-option *ngFor="let item of FilterLocation" [value]="item.key">{{item.value}}</ng-option>
                </ng-select>
                <label class="position-absolute m-0 bg-white">Filler Location:</label>
              </div>
              <div class="form-group-control mb-2 px-2 col-6 position-relative">
                <ng-select placeholder="Select Thread Location" [searchable]="true" formControlName="ThreadLocation">
                  <ng-option *ngFor="let item of ThreadLocation" [value]="item.key">{{item.value}}</ng-option>
                </ng-select>
                <label class="position-absolute m-0 bg-white">Thread Location:</label>
              </div>
            </div>
            <div class="form-group m-0 d-flex p-0 mb-2">
              <div class="form-group-control px-2 col-6 position-relative">
                <div class="form-group-head d-flex align-items-center mb-2">
                  <label class="top-label mb-0 d-inline-block mr-2">Permanent Fillers:</label>
                  <div class="prioranesthesia-status mr-2 cursor-pointer">
                    <input type="radio" name="PermanentFillersStatus" id="isPermanentFillers" value="Yes"
                      formControlName="PermanentFillers" class="mr-1 align-middle">
                    <label class="mb-0 top-label" for="isPermanentFillers">Yes</label>
                  </div>
                  <div class="prioranesthesia-status cursor-pointer">
                    <input type="radio" name="PermanentFillersStatus" value="No" id="isNotPermanentFillers"
                      formControlName="PermanentFillers" class="mr-1 align-middle">
                    <label class="mb-0 top-label" for="isNotPermanentFillers">No</label>
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="Write a Location"
                  formControlName="PermanentFillersLocation" [disabled]="dyForm.value.PermanentFillers === 'No'"
                  [readonly]="dyForm.value.PermanentFillers === 'No'">
              </div>
              <div class="form-group-control px-2 col-6 position-relative d-flex align-items-center flex-wrap">
                <div class="form-group-head d-flex align-items-center col-4 pl-0 pr-2 mt-4">
                  <label class="top-label mb-0 d-inline-block mr-2">Prior Neck liposuction:</label>
                  <div class="prioranesthesia-status mr-2 cursor-pointer">
                    <input type="radio" name="PriorNeckliposuctionStatus" id="isPriorNeckliposuction" value="Yes"
                      formControlName="PriorNeckLiposuction" class="mr-1 align-middle">
                    <label class="mb-0 top-label" for="isPriorNeckliposuction">Yes</label>
                  </div>
                  <div class="prioranesthesia-status cursor-pointer">
                    <input type="radio" name="PriorNeckliposuctionStatus" value="No" id="isNotPriorNeckliposuction"
                      formControlName="PriorNeckLiposuction" class="mr-1 align-middle">
                    <label class="mb-0 top-label" for="isNotPriorNeckliposuction">No</label>
                  </div>
                </div>
                <div class="form-group-head d-flex align-items-center col-4 mt-4 px-2">
                  <label class="top-label mb-0 d-inline-block mr-2">Energy Device:</label>
                  <div class="prioranesthesia-status mr-2 cursor-pointer">
                    <input type="radio" name="isEnergyDeviceStatus" id="isEnergyDevice" value="Yes"
                      formControlName="EnergyDevice" class="mr-1 align-middle">
                    <label class="mb-0 top-label" for="isEnergyDevice">Yes</label>
                  </div>
                  <div class="prioranesthesia-status cursor-pointer">
                    <input type="radio" name="isEnergyDeviceStatus" value="No" id="isNotEnergyDevice"
                      formControlName="EnergyDevice" class="mr-1 align-middle">
                    <label class="mb-0 top-label" for="isNotEnergyDevice">No</label>
                  </div>
                </div>
                <div class="form-group-head d-flex align-items-center col-4 mt-4 pl-2 pr-0">
                  <label class="top-label mb-0 d-inline-block mr-2">Blood Thinners:</label>
                  <div class="prioranesthesia-status mr-2 cursor-pointer">
                    <input type="radio" name="BloodThinnersStatus" id="isBloodThinners" value="Yes"
                      formControlName="BloodThinners" class="mr-1 align-middle">
                    <label class="mb-0 top-label" for="isBloodThinners">Yes</label>
                  </div>
                  <div class="prioranesthesia-status cursor-pointer">
                    <input type="radio" name="BloodThinnersStatus" value="No" id="isNotBloodThinners"
                      formControlName="BloodThinners" class="mr-1 align-middle">
                    <label class="mb-0 top-label" for="isNotBloodThinners">No</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m-0 d-flex p-0">
              <div class="form-group-control mb-2 px-2 col-6 position-relative">
                <input type="text" class="form-control" placeholder="Write a Type" formControlName="BloodThinnerType">
                <label class="position-absolute m-0 bg-white">Type:</label>
              </div>
              <div class="form-group-control mb-2 px-2 col-6 position-relative">
                <input type="text" class="form-control" placeholder="Write a Allergies" formControlName="Allergies">
                <label class="position-absolute m-0 bg-white">Allergies:</label>
              </div>
            </div>
            <div class="form-group m-0 d-flex p-0 rhino-details-wrapper">
              <div class="form-group-control px-2 col-6 position-relative">
                <div class="form-group-head d-flex align-items-center mb-2">
                  <label class="top-label mb-0 d-inline-block mr-2">Prior anesthesia:</label>
                  <div class="prioranesthesia-status mr-2 cursor-pointer">
                    <input type="radio" name="PriorAnesthesiaStatus" id="isPriorAnesthesia" value="Yes"
                      formControlName="PriorAnesthesia" class="mr-1 align-middle">
                    <label class="mb-0 top-label" for="isPriorAnesthesia">Yes</label>
                  </div>
                  <div class="prioranesthesia-status cursor-pointer">
                    <input type="radio" name="PriorAnesthesiaStatus" value="No" id="isNotPriorAnesthesia"
                      formControlName="PriorAnesthesia" class="mr-1 align-middle">
                    <label class="mb-0 top-label" for="isNotPriorAnesthesia">No</label>
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="Write a prior anesthesia"
                  formControlName="PriorAnesthesiaSummary" [disabled]="dyForm.value.PriorAnesthesia === 'No'"
                  [readonly]="dyForm.value.PriorAnesthesia === 'No'">
              </div>
              <div class="form-group-control px-2 col-6 position-relative">
                <div class="form-group-head d-flex align-items-center mb-2">
                  <label class="top-label mb-0 d-inline-block mr-2">Hypertension:</label>
                  <div class="prioranesthesia-status mr-2 cursor-pointer">
                    <input type="radio" name="HypertensionStatus" id="isHypertension" value="Yes"
                      formControlName="Hypertension" class="mr-1 align-middle">
                    <label class="mb-0 top-label" for="isHypertension">Yes</label>
                  </div>
                  <div class="prioranesthesia-status cursor-pointer">
                    <input type="radio" name="HypertensionStatus" value="No" id="isNotHypertension"
                      formControlName="Hypertension" class="mr-1 align-middle">
                    <label class="mb-0 top-label" for="isNotHypertension">No</label>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <div class="form-group-control m-0 pl-0 pr-2 col-6 position-relative">
                    <input type="text" class="form-control" placeholder="Meds" formControlName="HypertensionMeds"
                      [disabled]="dyForm.value.Hypertension === 'No'" [readonly]="dyForm.value.Hypertension === 'No'">
                    <label class="position-absolute m-0 bg-white">Meds:</label>
                  </div>
                  <div class="form-group-control m-0 pl-0 pr-2 col-6 position-relative">
                    <input type="text" class="form-control" placeholder="Managing doctor"
                      formControlName="HypertensionManagingDoctor" [disabled]="dyForm.value.Hypertension === 'No'"
                      [readonly]="dyForm.value.Hypertension === 'No'">
                    <label class="position-absolute m-0 bg-white">Managing doctor:</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m-0 d-flex p-0 rhino-details-wrapper">
              <div class="form-group-control mb-2 px-2 col-12">
                <div class="form-group-checkbox">
                  <label class="top-label mb-2 d-inline-block">CAD:</label>
                  <div
                    class="form-group-control-wrapper p-2 border-input-gray pl-border-radius-8 d-flex flex-wrap align-items-center">
                    <div class="form-group-control px-2 col-lg col-4">
                      <div
                        class="form-group-control-wrapper d-flex align-items-center p-2 border-input-gray pl-border-radius-8 position-relative">
                        <input type="radio" name="DocumentCadStatus" id="isPreviousStents" value="Previous Stents"
                          formControlName="DocumentCad" class="mr-1 align-middle">
                        <label for="isPreviousStents" class="m-0">Previous Stents</label>
                      </div>
                    </div>
                    <div class="form-group-control px-2 col-lg col-4">
                      <div
                        class="form-group-control-wrapper d-flex align-items-center p-2 border-input-gray pl-border-radius-8 position-relative">
                        <input type="radio" name="DocumentCadStatus" id="isBypassSurgery" value="Bypass Surgery"
                          formControlName="DocumentCad" class="mr-1 align-middle">
                        <label for="isPreviousStents" class="m-0">Bypass Surgery</label>
                      </div>
                    </div>
                    <div class="form-group-control px-2 pl-border-radius-8 col position-relative"
                      [ngClass]="isIPadAir? 'mt-2' : ''">
                      <input type="text" class="form-control" placeholder="Write A Last Echo:"
                        formControlName="DocumentCadLastEcho">
                      <label class="position-absolute m-0 bg-white">Write A Last Echo:</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m-0 d-flex p-0 rhino-details-wrapper">
              <div class="form-group-control px-2 position-relative col-12">
                <div class="form-group-head d-flex align-items-center mb-2">
                  <label class="top-label mb-0 d-inline-block mr-2">DM:</label>
                  <div class="prioranesthesia-status mr-2 cursor-pointer">
                    <input type="radio" name="DocumentDmStatus" id="isDocumentDM" value="Yes" formControlName="DocumentDm"
                      class="mr-1 align-middle">
                    <label class="mb-0 top-label" for="isDocumentDM">Yes</label>
                  </div>
                  <div class="prioranesthesia-status cursor-pointer">
                    <input type="radio" name="DocumentDmStatus" value="No" id="isNotDocumentDM" formControlName="DocumentDm"
                      class="mr-1 align-middle">
                    <label class="mb-0 top-label" for="isNotDocumentDM">No</label>
                  </div>
                </div>
                <div
                  class="form-group-control-wrapper p-2 border-input-gray pl-border-radius-8 d-flex flex-wrap align-items-center">
                  <div class="form-group-control px-2 pl-border-radius-8 col position-relative col-4"
                    [ngClass]="isIPadAir? 'mt-2' : ''">
                    <input type="text" class="form-control" placeholder="Write A Meds."
                      formControlName="DocumentDmMeds">
                    <label class="position-absolute m-0 bg-white">Write A Meds.</label>
                  </div>
                  <div class="form-group-control px-2 pl-border-radius-8 col position-relative col-4"
                    [ngClass]="isIPadAir? 'mt-2' : ''">
                    <input type="text" class="form-control" placeholder="Write A Last. Hgb A1C:"
                      formControlName="DocumentDmLastHeg">
                    <label class="position-absolute m-0 bg-white">Write A Last. Hgb A1C:</label>
                  </div>
                  <div class="form-group-control px-2 pl-border-radius-8 col position-relative col-4"
                    [ngClass]="isIPadAir? 'mt-2' : ''">
                    <input type="text" class="form-control" placeholder="Write A Managing doctor:"
                      formControlName="DocumentDmMangingDoctor">
                    <label class="position-absolute m-0 bg-white">Write A Managing doctor:</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m-0 d-flex p-0 rhino-details-wrapper">
              <div class="form-group-control mb-2 px-2 col-12" *ngIf="psychIssuesList && psychIssuesList.length">
                <div class="form-group-checkbox">
                  <label class="top-label mb-2 d-inline-block">Psych Issues:</label>
                  <div
                    class="form-group-control-wrapper p-2 border-input-gray pl-border-radius-8 d-flex flex-wrap align-items-center">
                    <div class="form-group-control px-2 col-lg col-4"
                      *ngFor="let item of psychIssuesList; let i = index" [ngClass]="i > 2 && isIPadAir? 'mt-2' : ''">
                      <div
                        class="form-group-control-wrapper d-flex align-items-center p-2 border-input-gray pl-border-radius-8 position-relative">
                        <input type="checkbox" class="position-absolute cursor-pointer" [(ngModel)]="item.isSelected"
                          [ngModelOptions]="{standalone: true}">
                        <span class="d-inline-block"></span>
                        <label for="" class="m-0">{{item.value}}</label>
                      </div>
                    </div>
                    <div class="form-group-control px-2 pl-border-radius-8 col position-relative"
                      [ngClass]="isIPadAir? 'mt-2' : ''">
                      <input type="text" class="form-control" placeholder="Write A Meds"
                        formControlName="PsychIssuesMeds">
                      <label class="position-absolute m-0 bg-white">Write A Meds.</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m-0 d-flex p-0 rhino-details-wrapper">
              <div class="form-group-control mb-2 px-2 col-12">
                <div class="form-group-checkbox">
                  <label class="top-label mb-2 d-inline-block">History of:</label>
                  <div
                    class="form-group-control-wrapper p-2 border-input-gray pl-border-radius-8 d-flex flex-wrap align-items-center">
                    <div class="form-group-control px-2 col-lg col-4">
                      <div
                        class="form-group-control-wrapper d-flex align-items-center p-2 border-input-gray pl-border-radius-8 position-relative">
                        <input type="radio" name="HistoryOfStatus" id="isAnxiety" value="Anxiety" formControlName="HistoryOf"
                          class="mr-1 align-middle">
                        <label for="isAnxiety" class="m-0">Anxiety</label>
                      </div>
                    </div>
                    <div class="form-group-control px-2 col-lg col-4">
                      <div
                        class="form-group-control-wrapper d-flex align-items-center p-2 border-input-gray pl-border-radius-8 position-relative">
                        <input type="radio" name="HistoryOfStatus" id="isPanicAttacks" value="Panic attacks"
                          formControlName="HistoryOf" class="mr-1 align-middle">
                        <label for="isPanicAttacks" class="m-0">Panic attacks</label>
                      </div>
                    </div>
                    <div class="form-group-control px-2 col-lg col-4">
                      <div
                        class="form-group-control-wrapper d-flex align-items-center p-2 border-input-gray pl-border-radius-8 position-relative">
                        <input type="radio" name="HistoryOfStatus" id="isClaustrophobia" value="Claustrophobia"
                          formControlName="HistoryOf" class="mr-1 align-middle">
                        <label for="isClaustrophobia" class="m-0">Claustrophobia</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m-0 d-flex p-0">
              <div class="form-group-control mb-2 px-2 col-6 position-relative">
                <input type="text" class="form-control" placeholder="Write a Examination" formControlName="Examination">
                <label class="position-absolute m-0 bg-white">Examination:</label>
              </div>
              <div class="form-group-control mb-2 px-2 col-6 position-relative">
                <input type="text" class="form-control" placeholder="Write a Photo evaluation with patient"
                  formControlName="PhotoEvaluationWithPatient">
                <label class="position-absolute m-0 bg-white">Photo evaluation with patient:</label>
              </div>
            </div>
            <div class="form-group m-0 d-flex p-0">
              <div class="form-group-control mb-2 px-2 col-6 position-relative">
                <input type="text" class="form-control" placeholder="Write a Patients’ specific concerns and requests"
                  formControlName="PatientSpecificConcernAndRequest">
                <label class="position-absolute m-0 bg-white">Patients’ specific concerns and requests:</label>
              </div>
              <div class="form-group-control mb-2 px-2 col-6 position-relative">
                <input type="text" class="form-control" placeholder="Write a Surgical Plan"
                  formControlName="SurgicalPlan">
                <label class="position-absolute m-0 bg-white">Surgical Plan:</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
